

 *{
     margin:0;
     padding: 0;
     box-sizing: border-box;
 }

/* #container{
    width: 100%;
    
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
} */
.mobile{
    width:100%;
    max-width: 320px;
    text-align: center;
    padding: 30px 20;
   background-color:#000000D1;
 
}

.container{
    width: 90%;
    
    /* background: white; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* color: white; */
}
#check{
    background-color: #EFA90B;
}
.mobile{
    width:100%;
    max-width: 320px;
    text-align: center;
    padding: 30px 0;
   background-color: #1D1D1D;
}

#second{
    background-color:#000;
}

.tasksInput{
    background: transparent;
}

.form-control{
    color: white;
    background: transparent;
    text-align: center;
    outline: none;
    border: none;
    border-radius:none;
    border-bottom: 1px solid white;
}

.form-conrol:active{
    background: transparent;
}

.form{
    display: inline;
}
.number{
    color:white;
}
a{
    color:#F9ECA3;
}
.col-10{
    font-size:10px;
}
#agree{
    background-color:#f0f0f02e;;
}
#button{
    background-color: #F9ECA3;
}
#second-button{
    outline:1px solid #F9ECA3;
    font-size:12px;
    color: white;
}
#second-button:hover{
    background: none;
}
#check-otp{
    font-size: 12px;
}
.form-control:focus {
    color: white;
    background-color: transparent;
    border-color: transparent;
    outline: 0;
    
  }

  #resend{
      color: white;
  }

  .invalid{
      font-size: 12px;
      border:1px solid white;
      border-radius: 10px;
  }

  #gap{
    
      visibility: hidden;
  }

  .verify{
      text-decoration: none;
  }

  .modal-close{
      color:#EFA90B;
      text-decoration: none;
      cursor: pointer;
  }

  .modal-close:hover{
    color: #EFA90B;
    cursor: pointer;
  }
.modal{
    margin-top: 178px;
}
  #barcode{
      background: white;
  }

  #third{
      background: #3a31317e;
  }
 #rewards{
    text-align: left;
    margin-left:0px;
    font: 9px/11px Futura PT;
    
 }


 .rate{
    font:20px/21px Futura PTs;
    text-align: left;
    float: left;
 }
 

.card-text{
    font-size: 8px;
}
#banner{
    background:#000000;
}
#download-button{
   
    background-color: #F9ECA3;
}
#benefits-button{
    outline:1px solid #F9ECA3;
  
    color: white;
}
#benefits-button:hover{
    background: none;
}


  input[type="checkbox"] {
    accent-color: #F9ECA3;
  }
 .badge{
     background-color:#F6E79F;
 }
 #collection{
     background-color: #000;
     width:auto;
     height:150px;
 }
 .first-card{
    width:5rem;
     height:6rem;
 }
 .third-card{
    width:auto; 
    height:6rem 
 }
 /* .price{

     width:50px;
     height:50px;
 } */

 .card-img-top{
     max-width: 100%;
     max-height: 100%;
 }